
h1{text-transform: lowercase;}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



img.machineImagined{width: 100%;}

img.machineImagined{
  -webkit-animation: fade 4s alternate infinite;
  animation: fade 4s alternate infinite;
  display: block;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: .4;
  }

}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .4;
  }
}